@import './variables';

.profile {
  background-image: url('../assets/congruent.png');
  padding: 16px 0;
}

.avatar {
  width: 200px;
  border-radius: 50%;
}

.info {
  color: $nord6;
  font-weight: 400;
}
