/// Base component color of "Polar Night".
/// Used for texts, backgrounds, carets and structuring characters like curly- and square brackets.
/// @group polarnight
$nord0: #2e3440;
/// Used as a lighter background color for UI elements like status bars.
/// @group polarnight
/// @see $nord0
/// @since 0.1.0
$nord1: #3b4252;
/// In the UI scope it may be used as selection- and hightlight color.
/// @group polarnight
$nord2: #434c5e;
/// In the UI scope used as pseudoclass color for disabled elements.
/// @group polarnight
$nord3: #4c566a;

/// In the UI scope used as semi-light background depending on the theme shading design.
/// @group snowstorm
$nord4: #d8dee9;
/// Used as a lighter background color for UI elements like status bars.
/// @group snowstorm
$nord5: #e5e9f0;
/// In the UI scope used as background, selection- and hightlight color depending on the theme shading design.
/// @group snowstorm
$nord6: #eceff4;

/// Bluish core color.
/// @group frost
$nord7:  #8fbcbb;
/// Bluish core accent color.
/// Main color for primary UI elements and methods/functions.
/// @group frost
$nord8:  #88c0d0;
/// @group frost
$nord9:  #81a1c1;
/// @group frost
$nord10: #5e81ac;

/// Used for errors, git/diff deletion and linter marker.
/// @group aurora
$nord11: #bf616a;
/// Used for annotations.
/// @group aurora
$nord12: #d08770;
/// In the UI scope used for warnings and git/diff renamings.
/// @group aurora
$nord13: #ebcb8b;
/// In the UI scope used for git/diff additions and success visualizations.
/// @group aurora
$nord14: #a3be8c;
/// Used for numbers.
/// @group aurora
$nord15: #b48ead;
